.home-title{
    font-size: 3rem;
    font-weight: 600;
}
.home-para{
    font-size: 1.4rem;
}
.ns-btn{
    background-color: #0072bc;
    color: white !important;
    padding: 1rem;
    border-radius: 5px;
}

.ns-btn-outline{
    border: 2px solid #0072bc;
    padding: 1rem;
    color: #0072bc;
    border-radius: 10px;
}

.ns-btn:hover{
    background-color: #5fa1cc ;
    color: white !important;
}

.ns-btn-outline:hover{
    background-color: #0072bc;
    color: white;
}

.ns-card-para{
  font-size: 1.7rem;
    font-weight: 600;
}

.ns-list-head{
    font-size: 1.5rem;
    font-weight: 600;
}

.ns-wt-para{
    font-size: 1.3rem;
}

.form-name h6{
font-size: 1.5rem;
margin-bottom: 1rem;
}

.form-name input{
    border: 2px solid #0072bc;
    padding: 1rem 2rem 1rem 1rem;
    width: 50vw;
    border-radius: 10px;
}

.reg-btn{
    box-shadow: 4px 4px 1px #04568d;
    font-size: 1.2rem;
    transition: 0.5s;
}

.reg-btn:hover{
    box-shadow: inset 4px 4px 1px #666666;
    background-color: #a7a7a7;
    color: #696969 !important;
}

.Learn-btn{
    font-size: 1.3rem;
}

.main-logo{
    width: 15rem;
}

